<!--<app-flight-filters></app-flight-filters>-->
<hr />
Filters: <br />
    <!-- <select name="t1" [(ngModel)]="carrier">
        <option value="Air India">Air India</option>
        <option value="kingfisher">King</option>
        <option value="Vistara">Vistara</option>
    </select> -->
    
   fromAirport <input type="text" [(ngModel)]="searchQue1" >  
   toAirport <input type="text" [(ngModel)]="searchQue2">
    <button type="submit" (click)="filterBySource()">Filter</button>


<div *ngFor="let flight of filteredFlights">
    Flight No : {{ flight.flight.flightNo }} <br />
    Flight Name : {{ flight.flight.flightName }} <br />
    Source : {{ flight.fromAirport }} <br />
    Destination : {{ flight.toAirport }} <br />
    <br />
</div>