
<form #userForm="ngForm" (ngSubmit)="unregister()">
    <div class="form-group">
        <label>User Name</label>
        <input type="text" required class="form-control" [class.is-invalid]="name.invalid && name.touched" #name="ngModel" [(ngModel)]=unuser.userName name="t1"><br>
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">User Name is required</small><br>
    </div>
    <div class="form-group">
        <label>Email id</label>
        <input type="text" class="form-control" required [class.is-invalid]="email.invalid && email.touched" #email="ngModel" [(ngModel)]=unuser.emailId name="t2"><br>
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">email id is required</small>
    </div><br>

    <div class="form-group">
        <label>Bank Name</label>
        <input type="text" required class="form-control" [class.is-invalid]="bankName.invalid && bankName.touched" #bankName="ngModel" [(ngModel)]=unuser.bankName name="t3"><br>
        <small class="text-danger" [class.d-none]="bankName.valid || bankName.untouched">Bank Name is required</small><br>
    </div><br>

    <div class="form-group">
        <label>Balance</label>
        <input type="text" required class="form-control" [class.is-invalid]="balance.invalid && balance.touched" #balance="ngModel" [(ngModel)]=unuser.balance name="t4"><br>
        <small class="text-danger" [class.d-none]="balance.valid || balance.untouched">Balanceis required</small><br>
    </div><br>
    <button type="submit" [disabled]="userForm.form.invalid">submit</button>
</form>
<div id="id" class="text-danger"></div>
