
    <form #userForm="ngForm" (ngSubmit)="logincheck()">
        <div class="form-group">
            <label>user name</label>
            <input type="text" required class="form-control" [class.is-invalid]="name.invalid && name.touched" #name="ngModel" [(ngModel)]=login.userName name="t1"><br>
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small><br>
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control" required [class.is-invalid]="name.invalid && name.touched" #password="ngModel" [(ngModel)]=login.password name="t2"><br>
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required</small>
        </div><br>
        <button type="submit" [disabled]="userForm.form.invalid">login</button>
    </form>
    <div id="id" class="text-danger"></div>


    
