
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLink="userFlightSearch"><button class="btn btn-outline-primary">HOME</button></a>
          </li>
      </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          
          <li class="nav-item dropdown" style="padding-top: 5px;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              LOGIN
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink='adminLogin'>ADMIN</a>
              <a class="dropdown-item" routerLink='userLogin'>USER</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink='userRegister'><button class="btn btn-outline-primary">SIGN UP</button></a>
          </li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>
