
<div class="w-100 h-100">
  <nav class="navbar navbar-expand-lg bg-dark w-100 h-100">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink='adminLogin'><button class="btn btn-primary">Admin Login</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='userLogin'><button class="btn btn-primary">User Login</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='userRegister'><button class="btn btn-primary">User Registration</button></a>
      </li>
    </ul>
  </nav>
  <div class="main mt-3">
    <div class="mx-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
