
<div class="container h-100 mb-4" *ngIf="hideForm">
    <div class="row w-50 mx-auto pt-5">
        <div class="col-md-12">
            <form (ngSubmit)="fetchFlights()">
                <div class="form-group">
                    
                    <input  class="form-control" 
                            id="fromAirport" 
                            type="text" 
                            name="fromAirport" 
                            placeholder="Enter departure airport"
                            [(ngModel)]="flightSearch.fromAirport"/>
                </div>
                
                <div class="form-group">
                    <input  class="form-control" 
                            id="toAirport" 
                            type="text" 
                            name="toAirport" 
                            placeholder="Enter arrival airport"
                            [(ngModel)]="flightSearch.toAirport"/>
                </div>

                <label>TYPE OF TICKET</label> <br/>
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" [(ngModel)]="flightSearch.typeOfTicket" value="ONEWAY">ONEWAY
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" [(ngModel)]="flightSearch.typeOfTicket" value="RETURN">RETURN
                    </label>
                </div>

                <div class="form-group">
                    <label for="departure">DEPARTURE</label>
                    <input  class="form-control" 
                            id="departure" 
                            type="date" 
                            name="departure" 
                            [(ngModel)]="flightSearch.departure"/>
                </div>

                <div class="form-group">
                    <label for="departure">ARRIVAL</label>
                    <input  class="form-control" 
                            id="arrival" 
                            type="date" 
                            name="arrival" 
                            [(ngModel)]="flightSearch.arrival"/>
                </div>

                <div class="form-group" *ngIf="flightSearch.typeOfTicket === 'RETURN'">
                    <label for="retdeparture">RETURN DEPARTURE</label>
                    <input  class="form-control" 
                            id="retdeparture" 
                            type="date" 
                            name="retdeparture" 
                            [(ngModel)]="flightSearch.returnDeparture"/>
                </div>

                <div class="form-group" *ngIf="flightSearch.typeOfTicket === 'RETURN'">
                    <label for="retarrival">RETURN ARRIVAL</label>
                    <input  class="form-control" 
                            id="retarrival" 
                            type="date" 
                            name="retarrival" 
                            [(ngModel)]="flightSearch.returnArrival"/>
                </div>

                <div class="form-group">
                    <input  class="form-control" 
                            id="passengers" 
                            type="number" 
                            name="passengers" 
                            placeholder="Enter passenger count"
                            [(ngModel)]="flightSearch.noOfPassengers"/>
                </div>

                <div class="row">
                  <input type="submit" value="SEARCH" class="btn btn-primary mx-auto"/> <br>
                </div>
                
            </form>
        </div>
    </div>
</div>

<div *ngIf="success" class="pt-5">
    <table class="table table-sm pt-5">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">FROM AIRPORT</th>
          <th scope="col">TO AIRPORT</th>
          <th scope="col">DEPARTURE</th>
          <th scope="col">ARRIVAL</th>
          <th scope="col">ECONOMY SEATS</th>
          <th scope="col">BUSINESS SEATS</th>
          <th scope="col">FLIGHT STATUS</th>
          <th scope="col">BUSINESS CLASS PRICE</th>
          <th scope="col">ECONOMY CLASS PRICE</th>
          <th scope="col">FLIGHT NO</th>
          <th scope="col">FLIGHT NAME</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of scheduleList" class="table-primary">
          <th scope="row" class="bg-secondary">
            <button 
            *ngIf="flightSearch.typeOfTicket == 'ONEWAY'" 
            class="btn btn-primary" 
            (click)="seatSelection(schedule, schedule.flight)">{{ schedule.id }}</button>
            <div *ngIf="flightSearch.typeOfTicket == 'RETURN'" >
              <input
              type="checkbox"
              style="width: 25px; height: 25px;"
              (click)="seatSelectionReturn(schedule, schedule.flight, $event)"/>{{ schedule.id }}
            </div>
            
          </th>
          <td>{{ schedule.fromAirport }}</td>
          <td>{{ schedule.toAirport }}</td>
          <td>{{ schedule.departure }}</td>
          <td>{{ schedule.arrival }}</td>
          <td>{{ schedule.economySeats }}</td>
          <td>{{ schedule.bussinessSeats }}</td>
          <td>{{ schedule.flightStatus }}</td>
          <td>{{ schedule.bSeatPrice }}</td>
          <td>{{ schedule.eSeatPrice }}</td>
          <td>{{ schedule.flight.flightNo }}</td>
          <td>{{ schedule.flight.flightName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="failure" class="alert alert-danger mt-5 w-25" role="alert">
    Sorry! Cannot fetch Schedule details!
  </div>
  <div *ngIf="flightSearch.typeOfTicket == 'RETURN' && success" >
    <button class="btn btn-outline-primary mx-auto" (click)="goToSeatSelection()">NEXT</button>
  </div>
