<div class="container h-100 w-100 pt-5">
    <nav class="navbar navbar-expand-sm bg-dark">
        <ul class="navbar-nav">
          <li class="nav-item ml-3">
            <button class="btn btn-primary nav-link" (click)="searchFlightForm()">Search for Flights</button>
          </li>
          <li class="nav-item ml-3">
            <button class="btn btn-primary nav-link" (click)="bookingHistory()">Booking History</button>
          </li>
          <li class="nav-item ml-3">
            <button class="btn btn-primary nav-link" (click)="cancelBooking()">Cancel Booking</button>
          </li>
        </ul>
    </nav>
    <p class="display-4">Hi, {{ userName }}</p>
</div>
<app-userflightsearch *ngIf="flightSearchForm"></app-userflightsearch>