
<div class="row w-100 h-100">
  <div class="col col-sm-2 h-100">
    <nav class="navbar navbar-right bg-dark h-100">
      <ul class="navbar-nav h-100">
        <li class="nav-item mt-2">
          <a routerLink="addFlight"><button class="btn btn-outline-primary w-100">Add Flight</button></a>
        </li>
        <li class="nav-item mt-2">
          <a routerLink="fetchSchedule"><button class="btn btn-outline-primary w-100">Search for Flight</button></a>
        </li>
        <li class="nav-item mt-2">
          <a routerLink="addSchedule"><button class="btn btn-outline-primary w-100">Add Schedule for Flight</button></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col col-sm-10 h-100">
    <router-outlet></router-outlet>
  </div>
</div>






