
<div class="container h-100" style="position: relative; top: 100px;">
    <div class="row w-50 mx-auto pt-5">
        <div class="col-md-12">
            <form (ngSubmit)="loginCheck()" #userForm="ngForm">
                <div class="form-group">
                    <input  class="form-control" 
                            id="userName" 
                            type="text" 
                            name="userName" 
                            placeholder="Enter admin user name"
                            [(ngModel)]="login.userName"
                            autocomplete="current-password"
                            required
                            #name="ngModel"
                            [class.is-invalid]="name.invalid && name.touched"/>
                    <small class="text-danger" [class.d-none]="name.valid || name.untouched">Admin Name is required</small><br>
                </div>
                
                <div class="form-group">
                    <input  class="form-control" 
                            id="password" 
                            type="password" 
                            name="password" 
                            placeholder="Enter admin password"
                            [(ngModel)]="login.password"
                            autocomplete="current-password"
                            required
                            #password="ngModel"
                            [class.is-invalid]="password.invalid && password.touched"/>
                            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small><br>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary mx-auto mt-3" [disabled]="userForm.form.invalid">LOGIN</button>
                </div>
                <div *ngIf="failureMsg" class="alert alert-danger mt-5" role="alert">
                    Invalid Login Details!
                </div>
            </form>
        </div>
    </div>
</div>

