<!--
<div>
<form #regForm="ngForm" (ngSubmit)="register(regForm)  && onSubmit()" >
    
    <div class="form-group">
    Enter Username: <input required type="text" name="name" class="form-control" [(ngModel)]=user.userName  #name="ngModel" required /> <br/>
    <span class="text-danger"
     *ngIf="(name.touched || regForm.submitted) && name.errors?.required">
        Name is required
    </span>
</div>
    Enter FirstName:<input type="text" name="t2" required class="form-control"  [(ngModel)]=user.firstName /> <br/>
    <div class="form-group">
    Enter LastName:<input type="text" name="t3" required class="form-control"  [(ngModel)]=user.lastName /> <br/>
    </div>
    <div class="form-group">
    Enter your email address : <input type="email" name="t4"class="form-control" email required [(ngModel)]=user.emailId/> <br/>
    </div>

    <div class="form-group">
    Enter your password : <input type="password" required minlength="8" name="password" class="form-control" [(ngModel)]=user.password #password="ngModel" required />
    <span class="text-danger"
    *ngIf="(password.touched || regForm.submitted) && password.errors?.required">
       Password required atleast 8 character
   </span>  
</div>
    <div class="form-group">
    Enter your Date of birth : <input type="date" name="t6"required class="form-control"  [(ngModel)]=user.dateOfBirth /> <br/>
    </div>
    <div class="form-group">
    Enter your Mobile No:<input type="number" name="t7" required class="form-control" [(ngModel)]=user.mobileNo/><br/>
    </div>
    <button type="submit" value="submit" name="submit" [disabled]="!regForm.valid" >Register</button> 
   
</form>
</div>-->

<div *ngIf="successMsg" class="alert alert-primary mt-5 w-25 mx-auto" role="alert">
    <h3 class="mx-auto text-center">Registered successfully!</h3> 
</div>
<div *ngIf="failureMsg" class="alert alert-danger mt-5 w-25 mx-auto" role="alert">
    <h3 class="mx-auto text-center">Registration failed!</h3> 
</div>
<div class="col-md-8 mx-auto mt-3 mb-5">
    <form (ngSubmit)="register()">
        <div class="form-group">
            <h3 class="text-center">USER REGISTRATION FORM</h3><br>
            <input  class="form-control" 
                    id="username" 
                    type="text" 
                    name="username" 
                    placeholder="Enter user name"
                    [(ngModel)]="user.userName"/>
            <br>
            <div class="row">
                <div class="col">
                    <input  class="form-control" 
                        id="firstname" 
                        type="text" 
                        name="firstname" 
                        placeholder="Enter first name"
                        [(ngModel)]="user.firstName"/>
                </div>
                <div class="col">
                    <input  class="form-control" 
                        id="lastname" 
                        type="text" 
                        name="lastname" 
                        placeholder="Enter last name"
                        [(ngModel)]="user.lastName"/>
                </div>
            </div>
            <br>
            <input  class="form-control" 
                    id="emailid" 
                    type="text" 
                    name="emailid" 
                    placeholder="Enter email id"
                    [(ngModel)]="user.emailId"
                    autocomplete="current-password"/>
            <br>

            <input  class="form-control" 
                    id="password" 
                    type="password" 
                    name="password"
                    placeholder="Enter password"
                    [(ngModel)]="user.password"
                    autocomplete="current-password"/>
            <br>
            <label for="dob">Enter Date of Birth</label>
            <input  class="form-control" 
                    id="dob" 
                    type="date" 
                    name="dob" 
                    [(ngModel)]="user.dateOfBirth"/>
            <br>
            <input  class="form-control" 
                    id="contact" 
                    type="number" 
                    name="contact" 
                    placeholder="Enter contact number"
                    [(ngModel)]="user.mobileNo"/>
            <br>
            <div class="row">
                <button type="submit" class="btn btn-primary mx-auto">REGISTER</button>
            </div>
        </div>
    </form>
</div>
