<!--
<div>
<form #regForm="ngForm" (ngSubmit)="register(regForm)  && onSubmit()" >
    
    <div class="form-group">
    Enter Username: <input required type="text" name="name" class="form-control" [(ngModel)]=user.userName  #name="ngModel" required /> <br/>
    <span class="text-danger"
     *ngIf="(name.touched || regForm.submitted) && name.errors?.required">
        Name is required
    </span>
</div>
    Enter FirstName:<input type="text" name="t2" required class="form-control"  [(ngModel)]=user.firstName /> <br/>
    <div class="form-group">
    Enter LastName:<input type="text" name="t3" required class="form-control"  [(ngModel)]=user.lastName /> <br/>
    </div>
    <div class="form-group">
    Enter your email address : <input type="email" name="t4"class="form-control" email required [(ngModel)]=user.emailId/> <br/>
    </div>

    <div class="form-group">
    Enter your password : <input type="password" required minlength="8" name="password" class="form-control" [(ngModel)]=user.password #password="ngModel" required />
    <span class="text-danger"
    *ngIf="(password.touched || regForm.submitted) && password.errors?.required">
       Password required atleast 8 character
   </span>  
</div>
    <div class="form-group">
    Enter your Date of birth : <input type="date" name="t6"required class="form-control"  [(ngModel)]=user.dateOfBirth /> <br/>
    </div>
    <div class="form-group">
    Enter your Mobile No:<input type="number" name="t7" required class="form-control" [(ngModel)]=user.mobileNo/><br/>
    </div>
    <button type="submit" value="submit" name="submit" [disabled]="!regForm.valid" >Register</button> 
   
</form>
</div>-->

<div *ngIf="successMsg" class="alert alert-primary mt-5" role="alert">
    Registered!
</div>
<div *ngIf="failureMsg" class="alert alert-danger pt-5" role="alert">
    Failed!
</div>

<div class="col-md-8 mx-auto mt-5 mb-5">
    <form (ngSubmit)="register()">
        <div class="form-group">

            <label for="username">Enter User Name</label>
            <input  class="form-control" 
                    id="username" 
                    type="text" 
                    name="username" 
                    [(ngModel)]="user.userName"/>

            <label for="firstname">Enter First Name</label>
            <input  class="form-control" 
                    id="firstname" 
                    type="text" 
                    name="firstname" 
                    [(ngModel)]="user.firstName"/>

            <label for="lastname">Enter Last Name</label>
            <input  class="form-control" 
                    id="lastname" 
                    type="text" 
                    name="lastname" 
                    [(ngModel)]="user.lastName"/>
            
            <label for="emailid">Enter Email Id</label>
            <input  class="form-control" 
                    id="emailid" 
                    type="text" 
                    name="emailid" 
                    [(ngModel)]="user.emailId"
                    autocomplete="current-password"/>

            <label for="password">Enter Password</label>
            <input  class="form-control" 
                    id="password" 
                    type="password" 
                    name="password" 
                    [(ngModel)]="user.password"
                    autocomplete="current-password"/>

            <label for="dob">Enter Date of Birth</label>
            <input  class="form-control" 
                    id="dob" 
                    type="date" 
                    name="dob" 
                    [(ngModel)]="user.dateOfBirth"/>
            
            <label for="contact">Enter Contact Number</label>
            <input  class="form-control" 
                    id="contact" 
                    type="number" 
                    name="contact" 
                    [(ngModel)]="user.mobileNo"/>
            <br><br>
            <input type="submit" value="REGISTER" class="btn btn-primary"/>
        </div>
    </form>
</div>
